.search-facet-list {
    background-color: #242424;
    color: #D5D5D5;
    padding: 20px;

    > ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        > li {
            margin-bottom: 15px;
        }
    }

    .search-facet-clearer {
        position: absolute;
        top: 15px;
        right: 15px;
    }
}
