.share-button {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    position: relative;

    > button {
        background-color: #fff;
        border: 0;
        outline: none;
    }

    .g-sharetoclassroom-container {
        display: inline-block;
        position: absolute;
        top: 1px;
    }    
}
