.document {
    .title {
        position: relative;
        font-weight: bold;

        .g-sharetoclassroom-container {
            position: relative;
            display: inline;
            top: 4px;
            left: 10px;
        }
    }

    a {
        text-decoration: none;
    }
}
